<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <meta http-equiv="refresh" content="59"> -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <style>
        .card {
        opacity: 0.7;
        }
        </style>
    </head>
    <body>
        <div class="card">
            <div class="align-items-start">
                <h1 class="card-text">Arlington Status</h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="whoishome_container">
                    </div>
                </div>
                <div class="col-5">
                </div>
                <div class="col">
                    <div class="card">
                        <h4 class="card-title">BART -> SFO</h4>
                    </div>
                    <div class="card">
                        <h4 class="card-title">BART -> OAK</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script>
        function updateHomeCards() {$.ajax({
        url: document.URL + "whoishome",
        context: $(".whoishome_container"),
        success: function(data){
        $(this).html(data);
        }
        })
        };
        function updateBackground() {$.ajax({
        url: document.URL + "background",
        context: $("body"),
        success: function(data){
        $(this).css({"background-image": "url('" + data + "')"});
        }
        })
        };
        updateHomeCards();
        updateBackground();
        setInterval(function()
        {
        updateHomeCards()
        }, 59 * 1000);
        setInterval(function()
        {
        updateBackground()
        },24 * 60 * 60 * 1000);
        </script>
    </body>
</html>