<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="59">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
        body {
            background-image: url({{backgroud}});
        }
    </style>
  </head>
  <body>
    {% if logged_in %}
    <h1>Arlington Status</h1>
    {% else %}
    <h1><a href={{login_url}}>Log in</a></h1>
    {% endif %}
    {% for device_owner in data%}
    <div class="card {{ 'card-inverse card-success' if device_owner.is_home else '' }}">
    <h4 class="card-title">{{device_owner.name}}</h4>
    {% for device in device_owner.devices %}
    <div class="card-block">
    <h6 class="card-subtitle mb-2 text-muted">{{device.name}}</h6>
    <p class="card-text">Last seen {{ device.last_seen_hours }} hours, {{ device.last_seen_minutes }} minutes ago</p>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>